<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}Shop{% endblock head_title %}</title>
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    {% block body %}
    <header>
        <nav>
            <a href="{% url 'home' %}">Startseite</a>
                <a href="{% url 'products:product_list' %}">Produkte</a>
            {% if user.is_authenticated %}
                | Angemeldet als {{ user.email|default:user.username }}
                | <a href="{% url 'account_logout' %}">Abmelden</a>
            {% else %}
                | <a href="{% url 'account_login' %}">Anmelden</a>
                | <a href="{% url 'account_signup' %}">Registrieren</a>
            {% endif %}
        </nav>
    </header>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <main>
        {% block content %}{% endblock content %}
    </main>
    {% endblock body %}
    {% block extra_body %}{% endblock extra_body %}
</body>
</html>